{% extends 'base.html' %}

{% load custom_filters %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.css' %}">

<!-- jQuery -->
<script type="text/javascript" src="{% static 'js/datatables1.js' %}"></script>

<!-- DataTables JS -->
<script type="text/javascript" src="{% static 'js/datatables.js' %}"></script>

<script type="text/javascript" src="{% static 'js/barralat.js' %}"></script>

<style>
    /* Estilo para a barra lateral */
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #ede9fe;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidebar .closebtn {
        position: absolute;
        top: 40px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        cursor: pointer;
    }

    .sidebar form {
        padding: 20px;
    }

    #main {
        transition: margin-right .5s;
    }

    /* Estilo para o overlay */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        display: none; /* Oculto por padrão */
    }

    /* Desfoque para o conteúdo principal */
    .blur {
        filter: blur(10%);
    }

    /* Estilo dos containers dos campos do formulário */
    .sidebar div {
        margin-bottom: 20px;
        padding: 0 15px;
    }

    /* Estilo dos labels do formulário */
    .sidebar label {
        display: block;
        margin-bottom: 5px;
        font-size: 18px;
        color: #4c1d95;
    }

    /* Estilo dos inputs do formulário */
    .sidebar input[type="text"],
    .sidebar input[type="date"],
    .sidebar select {
        width: 100%;
        padding: 10px;
        margin: 5px 0 20px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: #fff;
        font-size: 16px;
    }

    /* Estilo dos botões */
    .sidebar button[type="submit"],
    .sidebar button[type="button"] {
        background-color: #7c3aed;
        color: white;
        padding: 10px 15px;
        margin: 10px 5px 0 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    .sidebar button[type="button"] {
        background-color: #f44336;
    }

    .sidebar button[type="submit"]:hover,
    .sidebar button[type="button"]:hover {
        opacity: 0.8;
    }
    .link_descricao {
        color: #5B21B6; /* Cor padrão do link */
        text-decoration: none; /* Remove o sublinhado padrão */
        transition: color 0.3s ease, text-decoration 0.3s ease
    }

    form {
    width: 100%;
    max-width: 1500;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    form label {
        margin-bottom: 8px;
        font-weight: bold;
        color: #333;
    }

    form .form-control {
        width: 100%;
        padding: 8px 12px;
        margin-bottom: 20px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        font-size: 16px;
        color: #495057;
        background-color: #fff;
        transition: border-color 0.3s ease;
    }

    form .form-control:focus {
        border-color: #80bdff;
        outline: none;
        box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
    }

    form select.form-control {
        cursor: pointer;
    }

    form div div {
        margin-bottom: 15px;
        flex-wrap: wrap;
    }

    /* Ajustando o tamanho dos inputs */
    form div div input[type="text"],
    form div div input[type="date"],
    form div div select.form-control {
        width: 100%; /* Tamanho padrão para telas pequenas */
        max-width: 400px; /* Limite máximo do tamanho dos inputs */
    }

    form button[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    form button[type="submit"]:hover {
        background-color: #0056b3;
    }

    @media (min-width: 768px) {
        form div div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        form div label,
        form div .form-control {
            margin: 0 10px 0 0;
        }

        form div div label,
        form div div .form-control {
            margin: 0 10px 0 0;
        }


        form div .form-control:last-child {
            margin: 0;
        }

        /* Inputs ficam lado a lado em telas maiores */
        form div input[type="text"],
        form div input[type="date"],
        form div select.form-control {
            width: 48%;
        }
    }

    /* Esconde o pop-up inicialmente */
    .popup-form {
        display: none;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
        background-color:  #f8f9fa;
        padding: 20px;
        border: 1px solid #888;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    /* Fundo escurecido */
    body.popup-open {
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* Estilo do botão de fechar */
    .popup-form .close {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 18px;
        cursor: pointer;
    }

</style>
{% endblock %}

{% block titulo %}
Financeiro | {{ dadoscliente }}
{% endblock %}

{% block content %}
<main class="py-20 px-10">

    <div class="flex flex-nowrap justify-between items-center pt-4 pb-3 px-4">
        <div class="text-3xl text-violet-900 flex justify-between">{{ dadoscliente }}</div>
        <a href="{% url 'financeiro:maisopicoes' %}">
            <div class="text-lg text-violet-900 flex justify-between items-center">
                <ion-icon name="ellipsis-vertical-sharp"></ion-icon> Mais opções
            </div>
        </a>
    </div>
    <section id="dresection">
        <div class="container pt-2 px-20 flex justify-between">
            <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2">
                <a href="{% url 'financeiro:financeirocliente' dadoscliente.pk %}">Resumo</a>
            </div>
            <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2">
                <a href="{% url 'financeiro:caixa' %}">Caixa</a>
            </div>
            <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2">
                <a href="{% url 'financeiro:dre' %}">DRE</a>
            </div>
            <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2">
                <a href="{% url 'financeiro:dashboard' %}">Dashboard</a>
            </div>
            <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2">
                <a href="{% url 'financeiro:orcamento' %}">Orçamento</a>
            </div>
            <div class="text-lg text-violet-900 border-b-4 border-violet-800 p-2">
                <a href="{% url 'financeiro:contas' %}">Pagos e Recebido</a>
            </div>
        </div>
        <hr>
        <br>
        <!-- Botão Filtrar -->
        <button id="filtrarBtn">Filtrar</button>

        <!-- Caixa pop-up para o formulário -->
        <div id="popupForm" class="popup-form">
            <form method="POST">
                {% csrf_token %}
                <div class="form-content">
                    <!-- Fechar a pop-up -->
                    <span class="close">&times;</span>
                    <div class="flex justify-between">
                        <div class="flex justify-start">
                            <label>Id:</label>
                            <input class="form-control" type="text" name="id" value="{{id}}">
                        </div>
                        <div class="flex justify-start">
                            <label for="tipo" >Tipo:</label>
                            <select id="tipo" name="tipo" class="form-control">
                                <option value="" selected></option>
                                <option value="entrada">Entrada</option>
                                <option value="saida">Saída</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex justify-between">
                        <div class="flex justify-start">
                            <label for="dt_i" >Data Inicial:</label>
                            <input id="dt_i" class="form-control" type="date" name="dt_i">
                        </div>
                        <div class="flex justify-start">
                            <label for="dt_f">Data Final:</label>
                            <input id="dt_f" class="form-control" type="date" name="dt_f">
                        </div>
                    </div>
                    <div class="flex justify-between">
                        <div class="flex justify-start">
                            <label for="descricaos" >Descrição:</label>
                            <input id="descricaos" class="form-control" type="text" name="descricao">
                        </div>
                        <div class="flex justify-start">
                            <label for="detalhes">Detalhe:</label>
                            <input id="detalhes" class="form-control" type="text" name="detalhe">
                        </div>
                    </div>
                    <div class="flex justify-between">
                        <div class="flex justify-start">
                            <label for="banco">Banco:</label>
                            <select id="banco" class="form-control" name="banco">
                                <option selected></option>
                                {% for banco in bancos %}
                                    <option value="{{ banco.id }}">{{ banco.banco }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex justify-start">
                            <label for="centrocusto">Centro de Custo:</label>
                            <select id="centrocusto" name="centro_custo" class="form-control">
                                <option value="" selected></option>
                                {% for centrodecusto in centrodecustos %}
                                    <option value="{{ centrodecusto.id }}">{{ centrodecusto.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="flex flex-nowrap justify-between">
                        <div class="flex justify-start pr-2">
                            <label for="cat">Categoria:</label>
                            <select id="cat" name="categoria" class="form-control">
                                <option value="" selected></option>
                                {% for categoria in categorias %}
                                    <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="flex justify-start pl-2">
                            <label for="sub-cat" >Sub-Categoria:</label>
                            <select id="sub-cat" name="sub_categoria" class="form-control">
                                <option value="" selected></option>
                                {% for subcategoria in subcategorias %}
                                    <option value="{{ subcategoria.id }}">{{ subcategoria.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="flex justify-between">
                        <div class="flex justify-start pr-2">
                            <label for="vl_i" >Valor Inicial:</label>
                            <input id="vl_i" class="form-control" type="text" name="vl_i">
                        </div>
                        <div class="flex justify-start pl-2">
                            <label for="vl_f">Valor Final:</label>
                            <input id="vl_f" class="form-control" type="text" name="vl_f">
                        </div>
                    </div>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
        <div id="main">
            <table id="movimentacoesTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Data</th>
                        <th>Descrição</th>
                        <th>Detalhe</th>
                        <th>Banco</th>
                        <th>Centro de Custos</th>
                        <th>Categoria</th>
                        <th>Sub-Categoria</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movimentacao in pesquisas %}
                    <tr>
                        <td>{{ movimentacao.id }}</td>
                        <td>{{ movimentacao.data|format_date }}</td>
                        <td><a class="link_descricao" href="#" data-id="{{ movimentacao.id }}">{{ movimentacao.descricao }}</a></td>
                        <td>{{ movimentacao.detalhe }}</td>
                        <td>{{ movimentacao.banco.banco }}</td>
                        <td>{{ movimentacao.centrodecusto.nome }}</td>
                        <td>{{ movimentacao.categoria.nome }}</td>
                        <td>{{ movimentacao.subcategoria.nome }}</td>
                        <td>{{ movimentacao.valor|format_currency }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <div id="overlay" class="overlay"></div>

    <!-- Sidebar -->
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <form id="editForm" method="post" action="{% url 'financeiro:edit_movimentacao' %}">
            {% csrf_token %}
            <input type="hidden" name="id" id="movimentacaoId">
            
            <div id="descricaoContainer">
                <label for="descricao">Descrição:</label>
                <input type="text" name="descricao" id="descricao"><br>
            </div>

            <div id="dataContainer">
                <label for="data">Data:</label>
                <input type="date" name="data" id="data"><br>
            </div>
        
            <div id="detalheContainer">
                <label for="detalhe">Detalhe:</label>
                <input type="text" name="detalhe" id="detalhe"><br>
            </div>
        
            <div id="bancoContainer">
                <label>Banco:</label>
                <select name="banco" class="selectconci">
                    <option selected></option>
                    {% for banco in bancos %}
                        <option value="{{ banco.id }}">{{ banco.banco }}</option>
                    {% endfor %}
                </select><br>
            </div>
        
            <div id="centrodecustoContainer">
                <label>Centro de Custos:</label>
                <select name="centrocusto" class="selectconci">
                    <option selected></option>
                    {% for centrodecusto in centrodecustos %}
                        <option value="{{ centrodecusto.id }}">{{ centrodecusto.nome }}</option>
                    {% endfor %}
                </select><br>
            </div>
        
            <div id="categoriaContainer">
                <label>Categoria:</label>
                <select name="categoria" class="selectconci">
                    <option selected></option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                {% endfor %}
            </select><br>
            </div>
        
            <div id="subcategoriaContainer">
                <label>Sub-Categoria:</label>
                <select name="subcategoria" class="selectconci">
                    <option selected></option>
                    {% for subcategoria in subcategorias %}
                        <option value="{{ subcategoria.id }}">{{ subcategoria.nome }}</option>
                    {% endfor %}
                </select><br>
            </div>
        
            <div id="valorContainer">
                <label for="valor">Valor:</label>
                <input type="text" name="valor" id="valor"><br>
            </div>
        
            <button type="submit">Salvar</button>
            <button type="button" onclick="deleteMovimentacao()">Deletar</button>
        </form>
    </div>
</main>

<script>
     $('.link_descricao').click(function(event) {
        event.preventDefault();
        var id = $(this).data('id');
        if (id) {
            openNav(id);
        } else {
            console.error('ID da movimentação está vazio.');
        }
    });

    $(document).ready(function() {
        $('#movimentacoesTable').DataTable();

        $('.link_descricao').click(function(event) {
            event.preventDefault();
            var id = $(this).data('id');
            openNav(id);
        });
    });

    function openNav(id) {
        if (!id) {
            console.error('ID da movimentação não fornecido.');
            return;
        }

        $.ajax({
            url: '{% url "financeiro:get_movimentacao" 0 %}'.replace('0', id),
            method: 'GET',
            success: function(data) {
                if (data.error) {
                    alert(data.error);
                    return;
                }

                $('#movimentacaoId').val(data.id);
                $('#data').val(data.data);
                $('#descricao').val(data.descricao);
                $('#detalhe').val(data.detalhe);
                $('#banco').val(data.banco || '');
                $('#centrodecusto').val(data.centrodecusto || '');
                $('#categoria').val(data.categoria || '');
                $('#subcategoria').val(data.subcategoria || '');
                $('#valor').val(data.valor);

                document.getElementById("mySidebar").style.width = "50%";
                document.getElementById("main").style.marginRight = "50%";
                document.getElementById("overlay").style.display = "block";
                document.getElementById("main").classList.add("blur");
            },
            error: function() {
                alert('Erro ao carregar dados da movimentação.');
            }
        });
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginRight= "0";
        document.getElementById("overlay").style.display = "none";
        document.getElementById("main").classList.remove("blur");
    }

    function deleteMovimentacao() {
        var id = $('#movimentacaoId').val();
        if (!id) {
            console.error('ID da movimentação não fornecido.');
            return;
        }

        $.ajax({
            url: '{% url "financeiro:delete_movimentacao" 0 %}'.replace('0', id),
            method: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(data) {
                if (data.success) {
                    location.reload(); // Recarrega a página para refletir as mudanças
                } else {
                    alert(data.error || 'Erro ao deletar movimentação');
                }
            },
            error: function() {
                alert('Erro ao tentar deletar movimentação.');
            }
        });
    }

    // Seleciona os elementos
    const filtrarBtn = document.getElementById('filtrarBtn');
    const popupForm = document.getElementById('popupForm');
    const closeBtn = document.querySelector('.popup-form .close');

    // Quando o botão "Filtrar" é clicado, abre a pop-up
    filtrarBtn.addEventListener('click', function() {
        popupForm.style.display = 'block';
        document.body.classList.add('popup-open');
    });

    // Quando o botão de fechar é clicado, fecha a pop-up
    closeBtn.addEventListener('click', function() {
        popupForm.style.display = 'none';
        document.body.classList.remove('popup-open');
    });

    // Fecha a pop-up ao clicar fora do formulário
    window.addEventListener('click', function(event) {
        if (event.target === popupForm) {
            popupForm.style.display = 'none';
            document.body.classList.remove('popup-open');
        }
    });
</script>


{% endblock %}