{% extends 'base.html' %}

{% block titulo %}
Financeiro | {{ dadoscliente }}
{% endblock %}

{% block head %}
<script>
    const descricaoInput = document.getElementById('descricao');

    // Restore value if it exists in localStorage
    if (localStorage.getItem('descricao')) {
        descricaoInput.value = localStorage.getItem('descricao');
    }

    descricaoInput.addEventListener('input', function() {
        localStorage.setItem('descricao', this.value);
    });
</script>
{% endblock %}


{% block content %}
<main class="py-20 px-10">

        <div class="flex felx-nowrap justify-between items-center pt-4 pb-3 px-4">
        <div class="text-3xl text-violet-900 flex justify-between">{{ dadoscliente }}</div>
            <a href="{% url 'financeiro:maisopicoes' %}">
                <div class="text-lg text-violet-900 flex justify-between items-center">
                    <ion-icon name="ellipsis-vertical-sharp"></ion-icon> Mais opções
                </div>
            </a>
        </div>

        <section id="regras">
            <div class=" container pt-2 px-20 flex justify-between">
                <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2"><a href="{% url 'financeiro:financeirocliente' dadoscliente.pk %}"><ion-icon name="arrow-back-outline"></ion-icon></a></div>
                <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2"><a href="{% url 'financeiro:maisopicoes' %}">Dados</a></div>
                <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2"><a href="{% url 'financeiro:banco' %}">Bancos</a></div>
                <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2"><a href="{% url 'financeiro:categoria' %}">Categorias</a></div>
                <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2"><a href="{% url 'financeiro:subcategoria' %}">Sub-Categorias</a></div>
                <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2"><a href="{% url 'financeiro:centrocusto' %}">Centro de Custo</a></div>
                <div class="text-lg text-violet-900 border-b-4 border-violet-800 p-2"><a href="{% url 'financeiro:regra' %}">Regras</a></div>
            </div>

            <hr>

            <div class="p-4">
                <div class="container w-2/5 p-4 bg-violet-100 rounded">
                    <div class="flex flex-nowrap justify-between content-center">
                        <div class="py-2 px-4 text-2xl text-violet-900 text-center">Editar Regra</div>
                    </div>

                    <form method="POST">
                        {% csrf_token %}
                        <div class="text-violet-800">
                            <div class="row g-3">
                            <div>
                                <label>Descrição: </label>
                                <input
                                    type="text"
                                    id="descricao"
                                    name="descricao"
                                    class="form-control"
                                    placeholder="Descrição"
                                    value="{{ regraeditada.descricao }}"
                                    required>
                                <br>
                                <label>Categoria: </label>
                                <select name="categoria" class="form-control">
                                                <option selected>{{ regraeditada.categoria }}</option>
                                            {% for categoria in categorias %}
                                                <option value="{{ categoria.nome }}">{{ categoria.nome }}</option>
                                            {% endfor %}
                                        </select>
                                <br>
                                <label>Sub-Categoria: </label>
                                <select name="subcategoria" class="form-control">
                                                <option selected>{{ regraeditada.subcategoria }}</option>
                                            {% for subcategoria in subcategorias %}
                                                <option value="{{ subcategoria.nome }}">{{ subcategoria.nome }}</option>
                                            {% endfor %}
                                        </select>
                                <br>
                                <label>Centro de Custo: </label>
                                <select name="centrodecusto" class="form-control">
                                                <option selected>{{ regraeditada.centrodecusto }}</option>
                                            {% for centrodecusto in centrodecustos %}
                                                <option value="{{ centrodecusto.nome }}">{{ centrodecusto.nome }}</option>
                                            {% endfor %}
                                        </select>
                                <br>
                                <label>Ativo: </label>
                                <input type="checkbox" name="ativo" value="True">
                            </div>
                            <div class="col-start-3 flex justify-end">
                                <button class="bg-violet-600 hover:bg-violet-800 text-white py-1 my-2 px-3 md:text-lg rounded-md" type="submit">Salvar</button>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="container w-9/10 p-4">
                <div class="text-2xl text-violet-900 font-semibold flex justify-between pb-2">
                    Regras Cadastradas
                </div>

                <hr>

                <table class="min-w-full border-collapse">
                    <thead>
                        <tr class="bg-gray-100 text-left">
                            <th class="py-2 px-4">Descrição</th>
                            <th class="py-2 px-4">Categoria</th>
                            <th class="py-2 px-4">Sub-Categoria</th>
                            <th class="py-2 px-4">Centro de Custo</th>
                            <th class="py-2 px-4">Ativo</th>
                            <th class="py-2 px-4">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for regra in regras %}
                        <tr class="border-b">
                            <td class="py-2 px-4">{{ regra.descricao }}</td>
                            <td class="py-2 px-4">{{ regra.categoria }}</td>
                            <td class="py-2 px-4">{{ regra.subcategoria }}</td>
                            <td class="py-2 px-4">{{ regra.centrodecusto }}</td>
                            <td class="py-2 px-4">{% if regra.ativo %} Sim {% else %} Não {% endif %}</td>
                            <td class="py-2 px-4">
                                <a href="{% url 'financeiro:editarregra' regra.pk %}" class="text-violet-700 hover:text-black">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


            </div>
        </section>
</main>
{% endblock %}