{% extends 'base.html' %}

{% block titulo %}
Financeiro | {{ dadoscliente }}
{% endblock %}

{% block head %}
<script>
    const bancoInput = document.getElementById('banco');

    // Restore value if it exists in localStorage
    if (localStorage.getItem('banco')) {
        bancoInput.value = localStorage.getItem('banco');
    }

    bancoInput.addEventListener('input', function() {
        localStorage.setItem('banco', this.value);
    });

    const agenciaInput = document.getElementById('agencia');

    // Restore value if it exists in localStorage
    if (localStorage.getItem('agencia')) {
        agenciaInput.value = localStorage.getItem('agencia');
    }

    agenciaInput.addEventListener('input', function() {
        localStorage.setItem('agencia', this.value);
    });

    const contaInput = document.getElementById('conta');

    // Restore value if it exists in localStorage
    if (localStorage.getItem('conta')) {
        contaInput.value = localStorage.getItem('conta');
    }

    contaInput.addEventListener('input', function() {
        localStorage.setItem('conta', this.value);
    });

    const digitoInput = document.getElementById('digito');

    // Restore value if it exists in localStorage
    if (localStorage.getItem('digito')) {
        digitoInput.value = localStorage.getItem('digito');
    }

    digitoInput.addEventListener('input', function() {
        localStorage.setItem('digito', this.value);
    });

    const ativoInput = document.getElementById('ativo');

    // Restore value if it exists in localStorage
    if (localStorage.getItem('ativo')) {
        ativoInput.value = "False";
    }

    ativoInput.addEventListener('input', function() {
        localStorage.setItem('ativo', this.value);
    });
</script>
{% endblock %}

{% block content %}
<main class="py-20 px-10">

        <div class="flex felx-nowrap justify-between items-center pt-4 pb-3 px-4">
        <div class="text-3xl text-violet-900 flex justify-between">{{ dadoscliente }}</div>
            <a href="{% url 'financeiro:maisopicoes' %}">
                <div class="text-lg text-violet-900 flex justify-between items-center">
                    <ion-icon name="ellipsis-vertical-sharp"></ion-icon> Mais opções
                </div>
            </a>
        </div>

    <div>
            <div class=" container pt-2 px-20 flex justify-between">
                <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2"><a href="{% url 'financeiro:financeirocliente' dadoscliente.pk %}"><ion-icon name="arrow-back-outline"></ion-icon></a></div>
                <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2"><a href="{% url 'financeiro:maisopicoes' %}">Dados</a></div>
                <div class="text-lg text-violet-900 border-b-4 border-violet-800 p-2"><a href="{% url 'financeiro:banco' %}">Bancos</a></div>
                <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2"><a href="{% url 'financeiro:categoria' %}">Categorias</a></div>
                <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2"><a href="{% url 'financeiro:subcategoria' %}">Sub-Categorias</a></div>
                <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2"><a href="{% url 'financeiro:centrocusto' %}">Centro de Custo</a></div>
                <div class="text-lg text-violet-900 hover:border-b-4 border-violet-300 p-2"><a href="{% url 'financeiro:regra' %}">Regras</a></div>
            </div>
            <hr>
            <div class="p-4">
                <div class="container w-2/5 p-4 bg-violet-100 rounded">
                    <div class="flex flex-nowrap justify-between content-center">
                        <div class="py-2 px-4 text-2xl text-violet-900 text-center">Novo Banco</div>
                         <div>
                             <a href="#">
                                <button class="bg-transparent text-violet-700 font-semibold hover:text-black px-4 pt-1 rounded">
                                   <ion-icon name="push-outline"></ion-icon> Importar
                                </button>
                            </a>
                         </div>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="text-violet-800">
                            <div class="row g-3">
                            <div>
                                <label for="banco">Banco: </label>
                                <input
                                    type="text"
                                    id="banco"
                                    name="banco"
                                    class="form-control"
                                    placeholder="Banco"
                                    value="{{ bancoeditado.banco }}"
                                    required>

                                <br>
                                <label for="agencia">Agência: </label>
                                <input
                                    type="number"
                                    id="agencia"
                                    name="agencia"
                                    class="form-control"
                                    placeholder="Agência"
                                    value="{{ bancoeditado.agencia }}"
                                    required>
                                <br>
                                <label for="conta">Conta: </label>
                                <input
                                    type="number"
                                    id="conta"
                                    name="conta"
                                    class="form-control"
                                    placeholder="Conta"
                                    value="{{ bancoeditado.conta }}"
                                    required>
                                <br>
                                <label for="digito">Dígito: </label>
                                <input
                                    type="number"
                                    id="digito"
                                    name="digito"
                                    class="form-control"
                                    placeholder="Dígito"
                                    value="{{ bancoeditado.digito }}"
                                    required>
                                <br>
                                <label for="ativo">Ativo: </label>
                                <input
                                    type="checkbox"
                                    id="ativo"
                                    name="ativo"
                                    value="True"
                                    required>
                            </div>
                            <div class="col-start-3 flex justify-end">
                                <button class="bg-violet-600 hover:bg-violet-800 text-white py-1 my-2 px-3 md:text-lg rounded-md" type="submit">Salvar</button>
                            </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="container w-9/10 p-4">
                <div class="text-2xl text-violet-900 font-semibold flex justify-between pb-2">
                    Bancos Cadastrados
                </div>
                <hr>
                <table class="table-auto w-full text-left">
                    <thead>
                        <tr class="text-violet-900">
                            <th class="py-2 px-2">Banco</th>
                            <th class="py-2 px-2">Agência</th>
                            <th class="py-2 px-2">Conta</th>
                            <th class="py-2 px-2">Ativo</th>
                            <th class="py-2 px-2">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for banco in bancos %}
                        <tr class="border-b">
                            <td class="py-2 px-2 text-gray-700">{{ banco.banco }}</td>
                            <td class="py-2 px-2 text-gray-700">{{ banco.agencia }}</td>
                            <td class="py-2 px-2 text-gray-700">{{ banco.conta }} - {{ banco.digito }}</td>
                            <td class="py-2 px-2 text-gray-700">{% if banco.ativo %} Sim {% else %} Não {% endif %}</td>
                            <td class="py-2 px-2 flex justify-center">
                                <button class="bg-violet-600 hover:bg-violet-800 text-white py-1 my-2 px-3 md:text-lg rounded-md">
                                    <a href="{% url 'financeiro:bancosaldo' banco.pk %}">Cadastrar Saldo Inicial</a>
                                </button>
                                <button class="bg-transparent text-violet-700 hover:text-black px-4">
                                    <a href="{% url 'financeiro:editarbanco' banco.pk %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                        </svg>
                                    </a>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>

    </div>
</main>
{% endblock %}